$blue : #ddf;
$gray : #ddd;
$chat_length: 80px;
$fade_time: 0.3s;

body {
    background-color: #eee;
}

td {
    text-align: center;
}

#nine_keys {
    background-color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

#numberList {
    margin-top: 50px;
    height: calc(100vh - 350px);
    overflow-y: scroll;
}

.disabled {
    background-color: #777;
    border: 1px solid black;
    font-family: Arial;
    font-size: 50px;
    height: 100px;
}

.header {
    background-color: #cfc;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-family: Arial;
}

.key {
    border: 1px solid black;
    font-family: Arial;
    font-size: 50px;
    height: 100px;
}

.chat-bubble {
    padding: 10px 14px;
    background: $gray;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    width: $chat_length;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-bottom: 0;
        margin-top: -10px;
    }

    &--left {
        animation: fadeInEnemy calc($fade_time / 0.4) ease-in;
        margin-left: 20px;

        &:after {
            left: 0;
            border-right-color: $gray;
            border-left: 0;
            margin-left: -20px;
        }
    }

    &--right {
        margin-left: calc(100vw - 40px - $chat_length); //?これしかないのか？
        background: $blue;
        animation: fadeInPlayer $fade_time ease-in;

        &:after {
            right: 0;
            border-left-color: $blue;
            border-right: 0;
            margin-right: -20px;
        }
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;

    &.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }
}

@keyframes fadeInPlayer {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInEnemy {
    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
