.my_item {
    background-color: #ddf;
}

.enemy_item {
    background-color: #dfd;
}

.disabled {
    background-color: #777;
    border: 1px solid black;
    font-family: Arial;
    font-size: 50px;
    height: 100px;
}

.key {
    border: 1px solid black;
    font-family: Arial;
    font-size: 50px;
    height: 100px;
}

td {
    text-align: center;
}

#nine_keys {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

#numberList {
    height: calc(100vh - 300px);
    overflow-y: scroll;
}

.chat-bubble {
    padding: 10px 14px;
    background: #eee;
    margin: 10px 30px;
    border-radius: 9px;
    position: relative;
    width: 70px;

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-bottom: 0;
        margin-top: -10px;
    }

    &--left {
        &:after {
            left: 0;
            border-right-color: #eee;
            border-left: 0;
            margin-left: -20px;
        }
    }

    &--right {
        background: #ccf;

        &:after {
            right: 0;
            border-left-color: #ccf;
            border-right: 0;
            margin-right: -20px;
        }
    }
}
